body {
  font-family: 'Open Sans', serif;
}

footer {
  padding: 1rem 0;
  height: 15rem;
  background-color: #575c55;
  color: ivory;
}

.navbar {
  background-color: #575c55;
  padding: 1.5rem 0 1rem 0;
  color: ivory;
}

h1.heading {
  text-align: center;
  color: ivory;
  height: 100%;
}

.navbar__navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navbar__navigation li {
  margin: 0 0.5rem;
}

.container {
  position: relative;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 1rem;
}

h1,
h2,
h3 {
  color: #45425a;
  font-family: 'Roboto';

  margin-top: 0.5rem;
}

p {
  max-width: 66ch;
  line-height: 1.5;
}

a {
  color: #acc12f;
}

#app {
  margin: 2rem 0;
}

.promo-blocks {
  display: flex;
}

.promo-blocks > div {
  margin-right: 1rem;
}

.promo-blocks > div:last-child {
  margin-right: 0;
}

.houseplants-promo {
  margin-top: 3rem;
}

.promo-blocks ul {
  margin-left: 1.5rem;
  list-style: disc;
}

li {
  margin-bottom: 0.5rem;
}

.anchor--button,
button {
  font-size: 1rem;
  border: 0;
  background-color: #45425a;
  padding: 0.5rem;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.anchor--button {
  margin-right: 0.5rem;
}

.promo-blocks__actions {
  display: flex;
}

.cart {
  position: absolute;
  right: 0;
  top: 50%;
}
