body {
  font-family: 'Open Sans', serif;
}

footer {
  padding: 1rem 0;
  height: 15rem;
  background-color: #575c55;
  color: ivory;
}

.navbar {
  background-color: #575c55;
  padding: 1.5rem 0 1rem 0;
  color: ivory;
}

.navbar__heading h1 a {
  color: ivory;
  height: 100%;
  text-decoration: none;
}

.navbar__navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navbar__navigation a {
  text-decoration: none;
}

.navbar__navigation a.router-link-exact-active {
  text-decoration: underline;
}

.navbar__navigation li {
  margin: 0 0.5rem;
}

.navbar__inner .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  position: relative;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 1rem;
}

h1,
h2,
h3 {
  color: #45425a;
  font-family: 'Roboto';
  margin-top: 0.5rem;
}

p {
  max-width: 66ch;
  line-height: 1.5;
}

a {
  color: #acc12f;
}

.promo-blocks {
  display: flex;
}

.promo-blocks > div {
  margin-right: 1rem;
}

.promo-blocks > div:last-child {
  margin-right: 0;
}

.promo-section {
  margin-top: 3rem;
}

.promo-blocks ul {
  margin-left: 1.5rem;
  list-style: disc;
}

li {
  margin-bottom: 0.5rem;
}

.button--anchor,
button {
  font-size: 1rem;
  border: 0;
  background-color: #45425a;
  padding: 0.5rem;
  color: white;
  text-decoration: none;
  cursor: pointer;
  margin-right: 0.5rem;
}

button {
  padding: 0.4rem;
}

button:hover,
.button--anchor:hover {
  background-color: #acc12f;
}

.promo-blocks__actions {
  display: flex;
  align-items: center;
}

main {
  margin: 1.5rem 0;
}

.heading__sub {
  font-size: 1rem;
  font-style: italic;
  display: block;
  margin-top: 0.8rem;
}

.button--disabled,
.button--disabled:hover {
  background-color: lightgray;
  cursor: unset;
}

.button--active {
  background-color: #acc12f;
}

.product img,
.promo-blocks > div img {
  max-height: 12rem;
}

.product-details {
  display: flex;
}

.product-details aside {
  margin-left: 1rem;
}
